<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>TodoList with Vue.js</title>
  <link rel="stylesheet" href="dist/css/app.css">
  <script src="https://kit.fontawesome.com/f2d7c28546.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="main">

    <div id="app">

      <section class="heading">
        <h1 class="heading__mainTitle">Todo List</h1>
        <h5 class="heading__subTitle">with Vue.js</h5>
        <i class="fab fa-vuejs heading__subTitle"></i>
      </section>

      <section class="section__todoCreator">
        <!-- 入力フォーム -->
        <div class="formArea">
          <div class="entryBox">
            <input type="text" class="entryBox__input" value="" ref="inputBox" v-model="inputVal" placeholder="タスクを入力"
              @keydown.13="addTask">
            <i class="far fa-paper-plane entryBox__btn" @click="addTask" aria-hidden="true"></i>
          </div>
          <span class="formArea__is-error">{{ errMsg }}</span>
        </div>
      </section>

      <!-- 検索ボックス -->
      <section class="section__searchBox">
        <!-- <task-search :listprops="todos"></task-search> -->
        <div class="searchBox">
          <input type="text" class="searchBox__input" value="" v-model="searchVal" placeholder="Search..."
            @keyup="searchTasks">
          <i class="fas fa-search searchBox__icon" aria-hidden="true"></i>
        </div>
      </section>

      <!-- ToDoリスト -->
      <section class="section__todoList">
        <ul class="todoList">
          <task-item v-for="(todo,index) in todos" :key="todo.id" :todo="todo" @clicked-toggle-done="toggleDone" @clicked-toggle-must="toggleMust" @change-task-name="changeTaskName" @delete-task="deleteTask"></task-item>
        </ul>
        <ul class="todoList">
          <task-item v-for="(todo,index) in todos" v-if="!todo.isMust" :key="todo.id" :todo="todo" @clicked-toggle-done="toggleDone" @clicked-toggle-must="toggleMust" @change-task-name="changeTaskName" @delete-task="deleteTask"></task-item>
        </ul>

          <!-- <li v-for="(todo,index) in todos" v-if="todo.isMust" :key="todo.id" :todo="todo" :class="classTaskItem(index)"
            class="todoList__item">
            <i :class="classCheckBox(index)" @click="toggleDone(index)" aria-hidden="true"></i>
            <span v-show="!isEdit" class="todoList__taskName" 　@click="isEdit=true">{{ todo.taskName }}</span>
            <span v-show="isEdit" class="todoList__editArea" @mouseover="focusEdit">
              <input type="text" class="todoList__editBox" :value="todo.taskName" ref="editBox"
                @change="changeTaskName($event)" @keydown.13="closeEdit($event)" @blur="closeEdit($event)">
            </span>
            <i :class="classMustIcon(index)" @click="toggleMust" aria-hidden="true"></i>
            <i class="fas fa-trash-alt icon-trash" @click="deleteTask" aria-hidden="true"></i>
          </li> -->

      </section>
    </div>

  </div>
  <script src="dist/js/bundle.js"></script>
</body>

</html>
