<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>TodoList with Vue.js</title>
  <link rel="stylesheet" href="dist/css/app.css">
  <script src="https://kit.fontawesome.com/f2d7c28546.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="main">
    <div id="apptodolist">

      <section class="heading">
        <h1 class="heading__mainTitle">Todo List</h1>
        <h5 class="heading__subTitle">with Vue.js</h5>
        <i class="fab fa-vuejs heading__subTitle"></i>
      </section>

      <section class="section__todoCreator">
        <!-- 入力フォーム -->
        <todo-creator :listprops="todos"></todo-creator>
      </section>

      <!-- 検索ボックス -->
      <section class="section__searchBox">
        <task-search :listprops="todos"></task-search>
      </section>

      <!-- ToDoリスト -->
      <section class="section__todoList">
        <ul class="todoList">
          <task-item v-for="todo in todos" v-if="todo.isMust" :key="todo.id" :taskprops="todo"></task-item>
        </ul>
        <ul class="todoList">
          <task-item v-for="todo in todos" v-if="!todo.isMust" :key="todo.id" :taskprops="todo"></task-item>
        </ul>
      </section>
    </div>

  </div>
  <script src="dist/js/bundle.js"></script>
</body>

</html>
