<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>TODO LIST</title>
  <link rel="stylesheet" href="dist/css/app.css">
  <script src="https://use.fontawesome.com/e3ae05b8e6.js"></script>
</head>

<body>

  <div class="main">

    <section class="section">
      <div id="app1">
        <!-- app.js で生成したプロパティ-->
        {{ message }}
      </div>
    </section>

    <section class="section">
      <div id="app2">
        <!-- v-bindはhtmlタグの属性に値を渡す -->
        <!-- :class は  v-bind:class の省略形-->
        <!-- v-bind:titleは :title と省略できる -->
        <span v-bind:title="message" :class="classObject">
          この文字にマウスホバーすると画面を表示した日付が出る
          <!-- title属性にmessageプロパティ、class属性にclassObjectプロパティを渡す -->
          <!-- classObjectの値がtrueの時のみクラスを付与する -->
        </span>
      </div>
    </section>

    <section class="section">
      <div id="app3">
        <!-- v-ifは結果がtrueの時のみDOMを生成する -->
        <!-- v-ifがfalseの場合、DOM自体作られない -->
        <span v-if="isShow">v-ifを使って、domの表示非表示が簡単に出来る。非表示だとDOM自体なくなるので注意！</span>
        <!-- <span v-if="isShow!==false"> html側で条件式を書いてもOK-->
      </div>
    </section>

    <section class="section">
      <div id="app4">
        <ol>
          <!-- v-for でループして要素を複数出力 -->
          <li v-for="todo in todos">
            {{ todo.text }}
            <!-- 
              app.jsの以下のデータが入る
              data: {
                todos: [
                  { text: 'v-forを使うと' },
                  { text: 'こうやってデータやhtmlをループして' },
                  { text: '生成できる' }
                ]
              } 
            -->
          </li>
        </ol>
      </div>
    </section>

    <section class="section">
      <div id="app5">
        <p>{{ message }}</p>
        <!-- 
        app.jsの以下のデータが入る
          data: {
            message: 'Hello Vue.js!'
          },
        -->

        <!-- v-on:イベント名="発火したいメソッド名" でイベントを実行 -->
        <button v-on:click="changeMessage">メッセージを変える</button>
        <!-- <button @click="changeMessage">でもOK -->
      </div>
      <!-- 
        app.jsの以下のメソッドが実行される
        methods: {
          changeMessage: function () {
            this.message = this.message + 'を変えちゃった！'
          }
        }
       -->
    </section>

    <section class="section">
      <div id="app6">
        <p>{{ message }}</p>
        <!-- js側のdataプロパティとhtml側のv-model属性を連携して自動で書き換える -->
        <!-- 双方向データバインディング（入出力を自動で行う） -->
        <input type="text" v-model="message">

        <!-- 
        app.jsの以下のデータが入る
          data: {
            message: 'これが、双方向データバインディング'
            // 入力された内容が自動でデータへ更新され、データが更新されると自動で出力内容も変わる。
          }
        -->
        <!-- this.setState()やonChange="this.handleChange"が必要ない！ -->
      </div>
    </section>

  </div>

  <script src="dist/js/bundle.js"></script>
</body>

</html>
